* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
  text-decoration: none;
  
}

body {
  background: var(--surface);
  color: var(--text);
  transition: .3s;

}

// 
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 900;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
